.message-pad {
  margin: auto;
}

.message-list {
  width: 100%;
  height: 400px;
  overflow: auto;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 0 0 5px;
}

.message-list-item-right {
  text-align: right;
}

.message-composer {
  width: 100%;
}